:root {
	--orange:#F80;
    --white:#FFFFFF;
    --red:rgb(220, 20, 60);
    --black:rgb(0,0,0);





}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Leckerli One", cursive;
    font-weight: 1;
    ;
}

body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--orange);
    color: var(--white);
}

header {
    padding: 2vw 10vw;   
    margin: 0 auto;
    text-align: center;
}    
 
header h1{ 
	font-size: 5rem;
}

#new-task-form {
	display: flex;;
}

input, button {

	border: none;

	
}
#new-task-input::placeholder {
	color: var(--black);
    
}
    
#new-task-input {
	flex: 1 1 0%;
	background-color: var(--white);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	font-size: 1.25rem;
}


#new-task-submit {
	color: var(--black);
	font-size: 1.25rem;
	cursor: pointer;
    border-radius: 1rem;
    animation: wiggle 3s linear infinite;
    
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    14% {
      transform: rotateZ(-12deg);
    }
    18% {
      transform: rotateZ(9deg);
    }
    22% {
      transform: rotateZ(-8deg);
    }
    26% {
      transform: rotateZ(5deg);
    }
    30% {
      transform: rotateZ(-3deg);
    }
    36%, 100% {
      transform: rotateZ(0);
    }
}








    .task .actions .delete {
        color: var(--red);
        border-radius: 1rem;
    }

    button.edit{
        border-radius:0 1rem 1rem 0;

    }

    .task-list {
        padding: 1rem;
    }
    
    .task-list h2 {
        font-size: 1.5rem;
        font-weight: 100;
        color: var(--white);
        margin-bottom: .5rem;
        text-align: center;
    }
    
    #tasks .task {
        display: flex;
        justify-content: space-between;
        background-color: var(--orange);
        padding: 0 10vw;
        border-radius: 1rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
    
    .task .content {
        flex: 1 1 0%;
    }
    
    .task .content .text {
        color: var(--black);
        font-size: 1.125rem;
        width: 100%;
        display: block;
        border-radius: 1rem 0 0 1rem;
        text-indent: 10px;
        line-height: 9vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Verdana, sans-serif, sans-serif
    }
    
    .task .content .text:not(:read-only) {
        color: var(--black);
    }
    
    .task .actions {
        display: flex;
        margin: 0 -0.5rem;
    }
    
    .task .actions button {
        cursor: pointer;
        margin: 0 0.5rem;
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.4s;
        
    }
    








